/*
Author: Abhijeet Bajracharya
Author Email: abhijeetbajracharya@gmail.com
*/

// NORMALIZE

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0;}
figure{margin: 0; padding: 0;}
*,*:after,*:before {box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-font-smoothing:antialiased; font-smoothing:antialiased;}

// MEDIA QUERIES

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
@smallmobile:     ~"screen and (max-width: 320px)";
@mobile:          ~"screen and (max-width: 600px)";
@tablet:          ~"screen and (max-width: 768px)";
@tabletlandscape: ~"screen and (min-width: 769px) and (max-width: 1024px)";
@mobiledevice:    ~"screen and (max-width: 1024px)";
@desktop:         ~"screen and (min-width: 1025px)";
@largedesktop:    ~"screen and (min-width: 1500px)";

// GLOBAL COLORS

@white:#ffffff;
@black:#000000;
@maincolor:#58585a;
@green:#536e4f;
@darkgreen: #536d51;
@lightgreen:#c3ddb9;
@grey:#777777;
@mediumgrey:#dddddd;
@lightgrey:#f1f1f1;
@darkgrey:#58585a;

// TYPOGRAPHY
.font{font-family: 'Lato', sans-serif;}
.normal{.font;font-weight: 400}
strong,.bold{.font;font-weight: 900}
.uppercase{text-transform: uppercase;}
.fsize (@size: 12px) {font-size: @size;}
h1,h2,h3,h4,h5,h6{.bold;line-height: 100%;}

// MIXINS

.roundedcorners (@radius: 5px) {border-radius: @radius;}
.transition(@range: all, @time: 0.3s, @ease: ease-in-out) {-moz-transition: @range @time @ease;-webkit-transition: @range @time @ease;-o-transition: @range @time @ease;transition: @range @time @ease;}
.transition-delay(@time:1s){-webkit-transition-delay: @time;-moz-transition-delay:  @time;-ms-transition-delay:  @time;-o-transition-delay:  @time;transition-delay:  @time;}
.no-transition {-moz-transition: none;-webkit-transition: none;-o-transition: none;transition: none;}
.border (@bdclr: @grey, @bdwidth: 1px, @bdtype: solid) {border:@bdclr @bdwidth @bdtype;}
.placeholderColor(@color:@maincolor){
  &::-webkit-input-placeholder {color:@color;}
  &:-moz-placeholder {color:@color;}
  &::-moz-placeholder {color:@color;}
  &:-ms-input-placeholder {color:@color;}
}
.break-word{-ms-word-break: break-all;word-break: break-all;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;}
.boxsizing{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
.no-boxsizing{box-sizing: content-box;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;}
.centerposition(@x:0,@y:0){-webkit-transform: translate(@x,@y);-moz-transform: translate(@x,@y);-o-transform: translate(@x,@y);-ms-transform: translate(@x,@y);transform: translate(@x,@y);}
.aleft{text-align: left;}.aright{text-align: right;}.alcenter{text-align: center;}
.alignleft,.floatleft{float:left;}
.alignright,.floatright{float:right;}
.no-float{float:none;}

a{.transition;text-decoration: none;.break-word;}
img{max-width: 100%; vertical-align: middle; border: 0;
  &.alignleft{margin-right: 10px; margin-bottom: 10px;}
  &.alignright{margin-left: 10px; margin-bottom: 10px;}
}

// DISPLAY

.dis-block{display: block;}
.in-block{display: inline-block;}
.in-line{display: inline;}
.hide{display: none;}

//POSITIONING
.pos-relative{position: relative;}
.pos-absolute{position: absolute;}
.pos-fixed{position: fixed;}


// CLEARING

.clear{clear:both;}
.clearfix,.row{
  &:after{content: ".";.dis-block;height: 0;clear: both;visibility: hidden;}
}
* html,* html{
  .clearfix,.row{height: 1%;}
}
.row,.clearfix {.dis-block}

// GRID

.column(@columns,@guttervalue){.floatleft;.dis-block;
  @media @desktop,@tabletlandscape {
    margin-right: @guttervalue;
    @totalgutter: (@columns - 1) * @guttervalue;
    @gutter: @totalgutter / @columns;
    @gutpx : unit(@gutter,px);
    width:~"calc(100% / @{columns} - @{gutpx})";
    &:nth-child(@{columns}n + @{columns}){margin-right: 0;}
  }
  @media @tablet,@mobile {.no-float;}
}//column
.col-two{.column(2,10px);}
.col-three{.column(3,10px);}
.col-four{.column(4,10px);}

//FORM FIELDS

input[type="text"],input[type="email"],input[type="password"]{width: 100%; padding: 10px;border: 1px solid @lightgrey;-webkit-appearance: none;-moz-appearance: none;appearance: none;.transition();.fsize(15px);
  .placeholderColor(@mediumgrey);
  &:focus{border-color:@green;
    .placeholderColor(@darkgrey);
  }

}
input[type='submit'],input[type='button']{width: 100%; border: 0; background: @maincolor; color: @white; .uppercase;padding: 10px;-webkit-appearance: none;-moz-appearance: none;appearance: none;cursor: pointer;.bold;}


//MAIN CONTENTS
.wrapper{width: 100%; margin: auto;max-width: 1200px;padding:0 10px;.pos-relative}

body{.normal;.fsize(14px);background:@lightgrey}

#header{padding: 10px 0;border-bottom: 1px solid @mediumgrey;background: @white;
  .mainNav{.floatleft;padding: 5px 0; margin-right: 20px;.pos-relative;
    .strips{cursor: pointer;width: 30px;height: 30px;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);.transition(@time: .5s,@ease: ease-in-out);z-index: 101;
      div{display: block; position: absolute; width:100%;height: 4px; background: @black; opacity: 1; left: 0;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);.transition(@time: .5s,@ease: ease-in-out);
        &:nth-child(1){top:0;}
        &:nth-child(2),&:nth-child(3){top: 8px;}
        &:nth-child(4){top:16px;}
      }
    }//strips
    ul{width: 300px;.pos-absolute;max-height:0; overflow: hidden;.transition();top:50px;background: url(../images/loading.gif) @white center no-repeat;
      li{
        a{.dis-block;padding: 10px;background: @white;color: @black;
          &:hover{background: @green; color: @white;}
        }
      }

    }
    &.open{
      .strips{
        div{
          &:nth-child(1),&:nth-child(4){top:8px;width: 0; left: 50%;}
          &:nth-child(2){-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
          &:nth-child(3){ -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
        }
      }
      ul{max-height: 500%;min-height: 100px;}
    }
  }//main-nav
  .logo{.floatleft;
    a{color: @black;.fsize(30px);.bold;.uppercase;}
  }


  .search{.floatright;width: 30%;border: 1px solid @lightgrey;.pos-relative;
      input[type="text"]{.floatleft;width:~'calc(100% - 50px)'; height: 40px;line-height: 40px;border: 0;}
    input[type="submit"]{background: url("../images/icon-search.png") center no-repeat;height: 30px; width: 30px;background-size: cover; text-indent: -99999px;.floatright;margin: 5px 10px;}
    .searchResults{.pos-absolute;left:0;top:100%;width: 100%;background: @mediumgrey;
      ul{
        li{
          a{padding: 10px;.dis-block; color: @black;.fsize(14px);.uppercase; }
        }
      }
    }
  }
}//header

