<div class="loading" [hidden]="isFetching">
    <img src="assets/images/three-dots.svg" width="50">
</div>

<div class="product-list"><!--features_items-->
    <h2 class="title text-center" *ngIf="title">{{title}}</h2>
    <div class="col-sm-4" *ngFor="#product of products">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="store/{{product.slug}}" (click)="gotoDetail(product.slug)">
                    <img src="{{product.images[0].url.https}}" alt="{{product.images.name}}" />
                    </a>

                    <h2 (click)="getCart()">${{product.price.data.raw.with_tax}}</h2>

                    <p>
                        <a href="{{product.slug}}" (click)="gotoDetail(product.slug)">{{product.title}}</a>
                            </p>
                    <a href="#" class="btn addToCart" (click)="addtoCart(product,product.id)" [class.btn-success]="!product.active" [class.btn-warning]="product.active">
                        <i class="fa fa-shopping-cart" ></i>
                        <span [hidden]="product.active">Add to cart</span>
                        <span [hidden]="!product.active">Adding to cart</span>
                    </a>

                </div>
            </div>
        </div>
    </div>


</div><!--features_items-->





