<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/">Home</a></li>
                            <li>
                                <a href="#" [routerLink]="['Products']">Store</a>

                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="search_box pull-right">
                        <!--<input type="text" placeholder="Search"/>-->
                        <search></search>
                    </div>
                </div>


                <div class="col-sm-1">
                    <div class="cartstatus">
                        <a href="" class="btn btn-success"><i class="fa fa-shopping-cart"></i> {{cart}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->

</header><!--/header-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian" ><!--category-productsr-->
                        <div class="loading" [hidden]="isFetching">
                            <img src="assets/images/three-dots.svg" width="50">
                        </div>
                        <div class="panel panel-default" *ngFor="#category of categories">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="store/category/{{category.slug}}" (click)="gotoCategoryDetail(category.slug)">
                                        <span class="badge pull-right"><i class="fa fa-angle-right"></i></span>
                                        {{category.title}}
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div><!--/category-products-->
                    <div class="brands_products"><!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <div class="loading" [hidden]="isFetching">
                                <img src="assets/images/three-dots.svg" width="50">
                            </div>
                            <ul class="nav nav-pills nav-stacked">
                                <li *ngFor="#brand of brands">
                                    <a href="store/brand/{{brand.slug}}"(click)="gotoBrandDetail(brand.slug)">{{brand.title}}</a></li>

                            </ul>
                        </div>
                    </div><!--/brands_products-->


                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <router-outlet></router-outlet>


            </div>
        </div>
    </div>
</section>



