<header id="header">
    <div class="wrapper clearfix">
        <nav class="mainNav"  [class.open]="addClass" (click)="showNav()">
            <div class="strips">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ul class="loading">
                <li *ngFor="#category of categories">
                    <a href="">{{category.title}}</a>
                </li>
            </ul>
        </nav>
        <section class="search">

                <input type="text" placeholder="Search Products" [ngFormControl]="term"/>

            <div class="searchResults">
                <ul>
                    <li *ngFor="#item of searchitems">
                        <a href="">
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    <!--<nav class="mainNav">-->
            <!--<ul>-->
                <!--<li><a class="navbar-brand" [routerLink]="['Products']">Store</a></li>-->
                <!--<li> <a class="navbar-brand" [routerLink]="['Categories']">Categories</a></li>-->

            <!--</ul>-->
    <!--</nav>-->
    </div>
</header>

<router-outlet></router-outlet>