<div class="loading" [hidden]="isFetching">
    <img src="assets/images/three-dots.svg" width="50">
</div>
<section class="productsList">

    <div class="wrapper clearfix">
        <article  *ngFor="#product of products" (click)="gotoDetail(product.slug)">
            <figure>
                <img src="{{product.images[0].url.https}}" alt="{{product.images.name}}">
            </figure>
            <h2>{{product.title}}</h2>
            <h3>${{product.price.data.raw.with_tax}}</h3>
        </article>
    </div>
</section>



