<div class="loading" [hidden]="isFetching">
    <img src="assets/images/three-dots.svg" width="50">
</div>

<div class="product-details" *ngIf="product"><!--product-details-->
    <div class="col-sm-5">
        <div class="view-product">
            <img src="{{product.images[0].url.https}}" alt="{{product.images.name}}" />
            <h3>ZOOM</h3>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="product-information"><!--/product-information-->
            <img src="/assets/images/product-details/new.jpg" class="newarrival" alt="" />
            <h2>{{product.title}}</h2>
            <p>Web ID: {{product.id}}</p>

								<span class="product-info">
									<span class="price">${{product.price.data.raw.with_tax}}</span>
									<label>Quantity:</label>
									<input type="text" value="1" #qty/>
                                    <button type="button" class="btn" (click)="addtoCart(product.id,qty.value,product)" [class.btn-success]="!product.active" [class.btn-warning]="product.active">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span [hidden]="product.active">Add to cart</span>
                                        <span [hidden]="!product.active">Adding to cart</span>
                                    </button>

								</span>
            <p><b>Availability:</b> {{product.stock_status.data.value}}</p>
            <p><b>Condition:</b> New</p>
            <!--<p *ngIf="product.brand.value"><b>Brand:</b> {{product.brand.value}}</p>-->

        </div><!--/product-information-->
    </div>
</div><!--/product-details-->
